<h3 style="text-align:center"> Network </h3>
<div class="wrapper profile">
  <% Profile.all.each do |profile| %>
    <div class="profile-box">
      <p><%= profile.first_name %></p>
      <p><%= profile.last_name %></p>
      <p><%= profile.bio %></p>
      <p><%= profile.bio %></p>
      <%= link_to "Visit Profile", user_profiles_path(current_user, profile) %>
    </div>
  <% end %>
</div>
