<div class="center center-form">

  <h3> Create Project </h3>
  <div class="project-form">


    <%= form_for(@project, :html => {:class => "form-group"}) do |f| %>

    <%= f.collection_select :client_id, Client.order(:name),:id,:name %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "last_name" %>
      </div>


      <div class="actions">
        <%= f.submit "Save Project", :class => "btn btn-primary submit-button profile-form-button" %>
      </div>

      <% if @project.errors.any? %>
      <div id="error_explanation" class="devise-errors">
        <h6><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h6>

        <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
    <% end %>

    <%= link_to 'Cancel', root_path, :class => "btn btn-secondary" %>
</div>
</div>
