<div class="wrapper profile-view">
  <header class="header">
    <h1>Profile</h1>
  </header>
  <aside class="sidebar">
    <div class="profile-img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
    </div>

    <div class="profile-work">
        <label>WORK LINKS:</label>
        <br>
        <%= link_to 'Website Link', root_path, :class => "website-link"%>
    </div>
  </aside>
  <article class="content">

    <div class="profile-info">
      <label>Name:</label> <%=@profile.full_name%>
      <br>
      <label>Email:</label> <%=@profile.user.email%>
      <br>
      <br>
      <label>Profile Bio:</label>
        <%=@profile.bio%>

    </div>
    <% if @profile.user_id == current_user.id %>
      <%= link_to 'Edit Profile', edit_user_profile_path(current_user, @profile), :class => "btn btn-secondary edit-profile profile-page-button"%>
    <% else %>
      <%= link_to 'Home', root_path, :class => "btn btn-primary link-to-home profile-page-button"%>
    <% end %>
  </article>
</div>
