<div class="wrapper profile-view">
  <header class="header">
    <h1>task times</h1>
  </header>
  <aside class="sidebar">
    <div class="profile-img">
    </div>

    <div class="profile-work">
        <br>
    </div>
  </aside>
  <article class="content">

    <div class="profile-info">
      <label>Start time:</label>
      <%=@task_time.start_time%>
      <br>

      <label>End time:</label>
      <%=@task_time.end_time%>
      <br>


      <label>User:</label>
      <%=@task_time.user.email%>
      <br>

      <label>Client Name:</label>
        <%=@task_time.task.project.client.name%>

        <br>

      <label>Project Name:</label>
        <%=@task_time.task.project.name%>

        <br>
      <br>
      <label>Task Time Notes:</label>
        <%=@task_time.notes%>

        <br>

      <% if @task_time.end_time %>
        <label>Task Time Duration</label>
          <%=@task_time.calculate_duration%>
      <% else %>
        <%= link_to 'Stop Timer', stop_task_time_path(@task_time), :class => "btn btn-primary link-to-home profile-page-button"%>

      <% end %>

    </div>

  </article>
</div>
