<%= form_for([@user, @client], :html => {:class => "form-group"}) do |f| %>


  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio, autofocus: true, autocomplete: "bio" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary submit-button profile-form-button" %>
  </div>

  <% if @profile.errors.any? %>
  <div id="error_explanation" class="devise-errors">
    <h6><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h6>

    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<% end %>

<%= link_to 'Cancel', root_path, :class => "btn btn-secondary" %>
