<!DOCTYPE html>
<html>
  <head>
    <title>CMM App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      .cmm-logo {
        height: 5vh;
        padding: 0 5px 0 0;
      }
    </style>
  </head>
  <body>

    <%= render partial: "layouts/navbar" %>

    <%= yield %>

  </body>
</html>
